In [1]:
import seaborn as sns

# 데이터 준비
titanic = sns.load_dataset('titanic')
df = titanic.loc[0:4, 'survived':'age']
print(df, '\n')

# 열 이름의 리스트 만들기
# 기존 열 이름
columns = list(df.columns.values)
print(type(df.columns.values))
print(columns)
print()

# 열 이름을 알파벳 순으로 정렬하기
# 알파벳 순으로 정렬\
columns_sorted = sorted(columns)
print(df[columns_sorted])
print()

# 열 이름을 기존 순서의 정반대 역순으로 정렬하기
columns_reversed = reversed(columns)
print(df[columns_reversed])
print()

# 열 이름을 사용자가 정의한 임의의 순서로 재배치하기
columns_customed = ['pclass', 'sex', 'age', 'survived']  
print(df[columns_customed])

   survived  pclass     sex   age
0         0       3    male  22.0
1         1       1  female  38.0
2         1       3  female  26.0
3         1       1  female  35.0
4         0       3    male  35.0

<class 'numpy.ndarray'>
['survived', 'pclass', 'sex', 'age']

    age  pclass     sex  survived
0  22.0       3    male         0
1  38.0       1  female         1
2  26.0       3  female         1
3  35.0       1  female         1
4  35.0       3    male         0

    age     sex  pclass  survived
0  22.0    male       3         0
1  38.0  female       1         1
2  26.0  female       3         1
3  35.0  female       1         1
4  35.0    male       3         0

   pclass     sex   age  survived
0       3    male  22.0         0
1       1  female  38.0         1
2       3  female  26.0         1
3       1  female  35.0         1
4       3    male  35.0         0